<?xml version=	"1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Auto_EGP">

	<listeners>
		<listener class-name="com.egp.utilities.Reporting" />
	</listeners>

	<test name="EGP login test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.egp.testCases.TC_LoginTest_001" />
		</classes>	
		
	</test>	
	
</suite>
